.container,.container-fluid{
	margin: 5% auto;
	text-align: center;

}

.col {
	display: inline;
	padding: 20px;
	/*vertical-align: middle;*/
}

#session{
	margin: 0 auto;
	width: 300px;
	height: 300px;
	/*max-width: 80%;*/
	/*height: 50%;*/
	border-radius: 50%;
	background: yellow;
	/*vertical-align: middle;*/
}

#figures{
	display: inline;
	padding: 10px;
}

#time{
	padding-top: 50px;
	/*padding: 10% auto;*/
	/*margin: 10% auto;*/
	/*vertical-align: middle;*/
}



